<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Demonistration of condition by using jinja oprational tags</h1>
    {% if a > b and a > c %}
         <h1>inside if Block</h1>
         <h1>A is miximum</h1>
    {% elif b > c % }
         <h1>inside elif Block</h1>
         <h1>B is maximum</h1>
    {% else %}
         <h1>inside else Block</h1>
         <h1>C is Maximum</h1>
    {% endif %}    
    </center>
</body>
</html>